<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.question.dao.ChatMapper">
	<!-- 채팅방 생성 -->
	<insert id="insertChatRoom" parameterType="chatroomVO">
		INSERT INTO faq_chatroom(
			chatroom_num,
			user_num,
			admin_num)
		VALUES (
			faq_chatroom_seq.nextval,
			#{user_num},
			#{admin_num})
	</insert>
	
	<!-- sub sql -->
	<sql id="read_check">
		<if test="">
		
		</if>
	</sql>
	
	<!-- 채팅 메시지 읽기 -->
	<select id="selectChatDetail" parameterType="integer" resultType="chatVO">
		SELECT
			<![CDATA[
			REPLACE(REPLACE(message,'<','&lt;'),'>','&gt;') message,
			]]>
			chat_num,
			chatroom_num,
			mem_num,
			reg_date,
			read_check
		FROM faq_chat
		WHERE chat_num = #{chat_num}
		ORDER BY reg_date ASC
	</select>
	
	<insert id="insertChat" parameterType="ChatVO">
		INSERT INTO faq_chat(
			chat_num,
			chatroom_num,
			mem_num,
			message)
		VALUES(
			faq_chat_seq.nextval,
			#{chatroom_num},
			#{mem_num},
			#{message})
	</insert>
	
	
</mapper>