<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.question.dao.RentalMapper">
	<!-- 문의 글등록 -->
	<insert id="insertRental" parameterType="rentalVO">
		INSERT INTO rental(
			rental_num,
			mem_num,
			scr_num,
			rental_date,
			rental_per,
			rental_content,
			rental_name,
			rental_phone,
			rental_email)
		VALUES (
			rental_seq.nextval,
			#{mem_num},
			#{scr_num},
			#{rental_date},
			#{rental_per},
			#{rental_content},
			#{rental_name},
			#{rental_phone},
			#{rental_email})
	</insert>
	
	<!-- 검색 기능 -->
	<sql id="rentalSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				rental_name LIKE '%' || #{keyword} || '%' OR
				rental_content LIKE '%' || #{keyword} || '%' 
			</if>
		</where>
	</sql>
	
	<!-- 총 개수/ 검색 개수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM rental JOIN member USING (mem_num)
		<include refid="rentalSearch"></include>
	</select>
	
	<!-- 전체 목록/ 검색 목록 -->
	<select id="selectList" parameterType="map" resultType="rentalVO">
		SELECT
			*
		FROM(SELECT
				a.*,
				rownum rnum
			FROM (SELECT
					rental_num,
					scr_num,
					rental_name,
					rental_date,
					rental_regdate,
					rental_status
				  FROM rental
				  JOIN member USING(mem_num)
				  <include refid="rentalSearch"></include>
				  ORDER BY rental_regdate DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	
	<!-- 글 상세 -->
	<select id="selectRental" parameterType="integer">
		SELECT
			*
		FROM rental
		JOIN member USING(mem_num) 
		LEFT OUTER JOIN member_detail USING(mem_num) 
		WHERE rental_num=#{rental_num}
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>