<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.store.dao.StoreMapper">
	<!-- Store 글 등록 -->
	<insert id="insertStore" parameterType="storeVO">
		INSERT INTO store(
			store_num,
			store_title,
			store_content,
			store_price,
			store_photo,
			store_name,
			store_type,
			store_ip,
			mem_num)
		VALUES (store_seq.nextval,
			#{store_title},
			#{store_content},
			#{store_price},
			#{store_photo,jdbcType=VARCHAR},
			#{store_name},
			#{store_type},
			#{store_ip},
			#{mem_num})
	</insert>
	

	<!-- 글 개수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM store JOIN member USING(mem_num)
	</select>
	
	
	<!-- Store 글 목록-->
	<select id="selectList" parameterType="map" resultType="storeVO">
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
			FROM (SELECT
					store_num,
					store_title,
					store_content,
					store_price,
					store_photo,
					store_name
				FROM store
				JOIN member USING(mem_num))a)
		<![CDATA[
		WEHRE rnum >= #{start} AND rnum <=#{end}
		]]>
	</select>
	
	<!-- Store 글 상세 -->
	<select id="selectStoreVO" parameterType="integer">
		SELECT
			*
		FROM store
		JOIN member USING(mem_num)
		WHERE store_num=#{store_num}
		
	</select>
	<!-- Store 글 수정 -->
</mapper>
































