@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


/*======================
 *    메인
 ======================*/
.check_warp{
	overflow:hidden;
}

/*검색*/
.check_warp .box.qna_search{
	width:200px;
	background-color: rgba(75,0,132,0.83);
	color: white;
    background-size: 50px;
    border-right: none;
}

.check_warp .box {
    float: left;
    display: block;
    width: 199px;
    height: 260px;
    text-align: center;
    border-right: 1px solid #dedace;
}

.check_warp .box input{
	width:160px;
	height:30px;
}


/*상담톡*/
.check_warp .quick_chat{
    float: left;
    display: block;
    width: 199px;
    height: 260px;
    text-align: center;
    border-right: 1px solid #dedace;
}

/*이메일 문의*/
.check_warp .quick_email{
    float: left;
    display: block;
    width: 199px;
    height: 260px;
    text-align: center;
    border-right: 1px solid #dedace;
}

/*상담내역*/
.check_warp .quick_mypage{
    float: left;
    display: block;
    width: 199px;
    height: 260px;
    text-align: center;
    border-right: 1px solid #dedace;
}




/*======================
 *    자주묻는질문 카테고리
 ======================*/
 .search_area ul li{
 	float:left;
 }
 
 
 
 #faq_nav{
	float:left;
	width:25%;
	min-height:530px;	
}
 