@charset "UTF-8";
.side-bar{
	background-color: #fff;
}
.side-bar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex; /* ul을 가로로 나열하는 flex 컨테이너로 설정 */
	background-color: #fff;
}
.tit-util {
  margin-top: 70px;
  box-sizing: border-box;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 15px;
  color: #444;
  font-weight: 400;
  display: flex; /* 부모 요소를 flex 컨테이너로 설정 */
  justify-content: space-between; /* 자식 요소 사이의 여백을 최대화 */
  margin-right: 0; /* 오른쪽 여백 제거 */
  display: flex;
}

h3.tit {
  margin: 0;
  padding: 0 0 16px 0;
  font-size: 1.6em;
  font-weight: 400;
  color: #503396;
  line-height: 1.1;
}

.tit-util .more-btn {
  margin-left: auto; /* 버튼을 오른쪽으로 이동시킴 */
}

a {
  background-color: transparent;
}
#event_form {
    border: none; /* border 속성을 none으로 설정하여 라인을 제거합니다. */
    margin: 0; /* margin 속성을 0으로 설정하여 여백을 없앱니다. */
    padding: 0; /* padding 속성을 0으로 설정하여 내부 여백을 없앱니다. */
}

/*이벤트 리스트*/
.event-list {
	float: left;
}
.event-list p {
    display: block;
    margin: 0;
    padding: 0
}

.event-list ul {
    overflow: hidden;
    margin: 0 0 0 -40px
}

.event-list ul li {
    position: relative;
    float: left;
    width: 245px;
    margin: 0 0 0 40px;
    padding: 0
}
.event-list ul li a {
    overflow: hidden;
    display: block;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    min-height: 364px
}

.event-list ul li a .img {
    width: 100%;
    height: 244px;
    font-size: 0;
    line-height: 0;
    border-bottom: 1px solid #e4e4e4;
    background-color: #eee
}
.event-list ul li a .img img {
    width: 100%;
    height: 243px;
}
.event-list ul li a .tit {
    overflow: hidden;
    height: 60px;
    margin: 0 0 10px 0;
    padding: 20px 17px 0 17px;
    line-height: 1.3;
    font-weight: 700;
    color: #222
}

.event-list ul li a .date {
    padding: 0 17px 20px 17px;
    font-size: .8667em;
    line-height: 1.1;
    color: #666
}