@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* common */
h1,
h4,
p,
span,
a {
    font-family: 'Noto Sans KR';
    font-weight: 500px;
}

.container{
	min-width: 1250px;
}

/* navbar */
#header {
	border-bottom: 2px solid #000;
}

#navbar-2 .util-list li a {
	color: black;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

#navbar-top .navbar-nav .nav-link {
	color: black;
    font-size: 13px;
    
}

#navbarNav .navbar-nav .nav-link {
	font-family: Noto Sans KR;
	font-weight: bold;
	color: black;
    font-size: 20px;
    margin-left: 35px;
    margin-right: 35px;
} 

.navbar-light .search-box {
    position: relative;
    width: 380px;
    margin: 0 auto;
}

.navbar-light input {
    position: relative;
    height: 44px;
    padding: 15px 72px 15px 9px;
    border: none;
    border-radius: inherit;
    border-bottom: 2px solid #000;
    font-size: 14px;
}

.navbar-light button {
    position: absolute;
    top: 0;
	right: 10px;
    left: 31;
    width: 37px;
    height: 65px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

#img-logo {
	display: block;
	margin: auto;
	width: 70%;
}

#DDBoxLogo {
    display: block;
    width: 140px;
    height: 47px;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}


a {
	word-break: keep-all;
}


.nav-tabs .nav-link.active {
	border-color: #503396 #503396 #fff;
}

.nav-tabs {
	border-bottom: 1px solid #503396;
}

.btn-primary {
	background-color: #503396;
	border-color: #503396;
	box-shadow: none;
}

#navbar-top {
	font-family: 'Nanum Gothic', sans-serif;
}

.btn-primary:disabled,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:active:focus,
.btn-primary:active:hover {
	background-color: #351f67;
	border-color: #351f67;
}

.btn-primary:disabled {
	color: #444444;
	background-color: #d1d1d1;
	border-color: #d1d1d1;
}

.modal-header {
	font-family: 'Noto Sans KR';
	font-weight: 500px;
	color: white;
	background-color: #503396;
	height: 50px;
}

.modal-body {
	font-family: "Nanum Gothic";
}

.link-secondary {
	text-decoration: none;
}

.link-secondary:hover {
	text-decoration: underline;
}

.container-a {
	margin-left: 130px;
}

.divide-a-tag {
	display: inline-block;
	height: 15px;
	border-left: 1px solid #d1d5dd;
}


.radio-group {
    display: flex;
    align-items: center;
  }
  .radio-group label {
    margin-right: 10px;
  }
  
  .divider {
    border-top: 1px solid #ccc;
    margin: 10px 0; /* 원하는 여백을 조절할 수 있습니다. */
    width:65%;
  }
  


a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}

/* 좌측 메뉴 레이아웃(Admin,MyPage)
-------------------------*/
#page_nav{
	float:left;
	width:25%;
	min-height:530px;	
}
#page_body{
	width:75%;
	float:left;
}
.page_clear{
	clear:both;
}

/* 페이지 기본 레이아웃
-------------------------*/
.page-main{
	width:98%;
	margin:0 auto;/*중앙 정렬*/
}
.page-one{
	width:600px;
	margin:0 auto;
}

/* 공통 메시지 및 버튼
-------------------------*/
.result-display{
	width:400px;
	height:200px;
	margin:100px auto;/*상하 좌우*/
	border:1px solid #000;/*테두리*/
	display: flex;/*하위 요소를 수직으로 쌓을 수 있는 공간을 만듬*/
  	align-items: center;/*세로 정렬*/
  	justify-content: center;/*가로 정렬*/
}
.error-color{
	color:#ff0000;
}
.default-btn{
	padding:5px 20px;
	border:1px solid #09aa5c;
	border-radius:2px;
	color:#fff;
	background-color:#09aa5c;
	font-weight:bold;
	cursor:pointer;
}
/* 공통 정렬
-------------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}

/* 메인
-------------------------*/
/* 공통 등록, 수정 폼
-------------------------*/
form{
	width:600px;
	margin:0 auto;
	border:1px solid #000;
	padding:10px 10px 30px 10px;
}
ul{
	list-style:none;
}

form ul li{
	clear:both;
}
form ul li label{
	padding-top:10px;
	width:110px;
	float:left;
}
input{
	margin-top:4px;
	padding:5px;
}
input[type="text"],input[type="password"],input[type="email"]{
	width:350px;
}
input[type="checkbox"]{
	margin:11px 0 10px 0;
}
[type="submit"],[type="button"]{
	height:33px;
}
/* 회원가입 등록, 수정 폼
-------------------------*/
#member_register{
	width:840px;
}
#member_register ul, #member_modify ul{
	padding-left:120px;
}
#member_register input[id="id"]{
	width:236px;
}
#member_register input[id="zipcode"], #member_modify input[id="zipcode"]{
	width:220px;
}
#member_modify{
	width:96%;
}
#member_delete input[id="id"], #member_delete input[id="passwd"]{
	width:240px;
}
/* 로그인
-------------------------*/
#member_login{
	width:320px;
	padding:0;
	margin:0 auto;
	border:none;
}
#member_login ul{
	padding:0;
}
.floating-label{
	position:relative;
}
.floating-label > .form-input{
	width:300px;
	height:50px;
	padding:0.55rem 0.55rem;
}
.floating-label > label{
	position:absolute;
	top:0;
	left:0;
	padding:1.25rem 0.65rem;
	transition:all 0.25s; 
}
.floating-label > .form-input::placeholder{
	color:transparent;
}
.floating-label > .form-input:focus, 
.floating-label > .form-input:not(:placeholder-shown){
	padding-top:1.125rem;
	padding-bottom:0.125rem;
}

.floating-label > .form-input:focus + label,
.floating-label > .form-input:not(:placeholder-shown) + label{
	opacity:0.65;
	transform:scale(0.85) translateY(-0.5rem) translateX(-0.5rem);
}
#member_login .login-btn{
	width:320px;
}
#member_login label[for="auto"]{
	width:220px;
	padding:0 0 5px 0;
}

/* Admin, MY페이지 공통
-------------------------*/
.side-bar {
  margin: 10px 10px 10px 0;
  padding: 10px;
  background-color: #cecccc;
}
.side-bar ul{
	margin:0;
	padding:0;
}
.side-bar ul li{
	padding:5px 10px 5px 10px;
}
.side-bar ul li img{
	margin-left:3px;
}

.menu-btn {
  width: auto; /* 또는 필요에 따라 너비를 조절하세요. */
}

/* MY페이지
-------------------------*/
.camera{
	width:50px;
	height:50px;
	border-radius:100%;
	background-color:#d3bb72;
	position:relative;
	top:-60px;
	left:140px;
	border:2px solid #fff;
	cursor:pointer;
	padding:13px 0 0 10px;
}
.my-photo{
	object-fit:cover;
	object-position:top;
	border-radius:50%;
}



/* 활성 상태가 아닐 때의 스타일 */
.nav-pills .nav-link {
  color: #000; /* 원하는 평소 색상으로 설정 */
  background-color: #fff; /* 원하는 평소 배경색으로 설정 */
  transition: background-color 0.3s ease; /* 부드러운 전환 효과를 위한 CSS 속성 추가 */
}
/* 활성 상태일 때의 스타일 */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff; /* 원하는 활성 상태 색상으로 설정 */
  background-color: #007bff; /* 원하는 활성 상태 배경색으로 설정 */
}
/* 마우스를 올렸을 때의 스타일 */
.nav-pills .nav-link:hover {
  color: #fff; /* 원하는 hover 시 색상으로 설정 */
  background-color: #4b3891; /* 원하는 hover 시 배경색으로 설정 */
}





















  